include ./Panel/panel.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Range slider
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  body
    .container
      .demo
        .slider
        +panel({ tooltip: false, progress: false, scale: false, vertical: false})
      .demo
        .slider
        +panel({ min: -100, max: 30, step: 10, values: [10]})
      .demo
        .slider
        +panel({ min: -100,max: -10,step: 0.33,vertical: false, scaleCounts: 2, progress: false, values: [-33.01, -55.12] })
      .demo
        .slider
        +panel({ min: -1000, max: 10000, step: 0.33, scaleCounts: 5, tooltip: false, vertical: false, scale: true, values: [33, 5000, 3000, 6534, 4043]})
      .demo
        .slider
        +panel({values: [1]})
